# See "Ignore Rules for Project.txt" for documentation of these patterns.
.ipynb_checkpoints/
.vscode/
__pycache__/
*.pyc
*.pyo
env/
venv/
.venv/
.DS_Store
Thumbs.db
*.tmp
*.log
outputs/
Outputs/
OutputsSourceFiles/
Data/
